{% extends 'base.html' %}

{% block javascript %}
<script>
    $(function () {
        $("#id_file").change(function () {
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            var img = new Image();
            img.onload = function(){                
                $('#image123').attr('src', e.target.result).css('max-width', img.width);
            };/*.each(function(){
                if(this.complete) {
                $(this).trigger('load');
                }
            });*/
            img.src = reader.result;         
          }
          reader.readAsDataURL(this.files[0]);
        }
      });

        var $image = $('#image123');
        var imageSrc = $image.attr('src');
        var propSrc = $('#image123').prop('src');
        $(".js-crop-and-upload").click(function () {            
            var img1 = new Image();
            var imgWidth = img1.width;
            img1.onload = function(){
                var currwidth = img1.width;
            }
            var width = $('#image123').prop('width');
            var naturalWidth = $('#image123').prop('naturalWidth');
            var maxwidth = $('#image123').css('max-width');
            $("#id_height").val($image.height);
            $("#id_width").val($image.width);            
            $("#formUpload").submit();
        });
    });
</script>
{% endblock %}
{% block content %}
<h1 class="page-header">Album</h1>
  <!-- FORM TO UPLOAD THE IMAGES -->
  <form method="post" class="image-form" enctype="multipart/form-data" id="formUpload">
    {% csrf_token %}
    {{ form }}
  </form>

  <button type="submit" class="btn btn-primary js-crop-and-upload">Upload</button>

  <div class="row" style="margin-top: 20px">
    {% for image in images %}
      <div class="col-sm-4 col-md-3">
        <img src="{{ image.file.url }}" class="thumbnail">
      </div>
    {% endfor %}
  </div>
  {% endblock %}